.pro-layout-container {
    display: grid;
    grid-template-rows:
        var(--top-nav-height)
        var(--waveform-height)
        var(--notation-display-height)
        1fr;
    height: 100vh;
    width: 100vw;
    background-color: var(--color-dark-bg);
    padding: var(--spacing-md);
    gap: var(--spacing-md);
    overflow: hidden;
}

.main-content-area {
    display: grid;
    min-height: 0;
    grid-template-columns: 1fr auto 1fr;
    gap: var(--spacing-md);
}