.deck {
    flex: 1;
    display: flex;
    background-color: transparent; /* Decks are just containers now */
}

.deck-main-row {
    display: flex;
    gap: 1rem;
    width: 100%;
}

.deck-center-column {
    flex-grow: 1; /* This makes the center column take up available space */
    display: flex;
    flex-direction: column;
    gap: 1rem;
}