/* src/components/WaveformNavigator.css */
.waveform-navigator {
  grid-area: waveform;
  background-color: var(--color-dark-surface-1);
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius-md);
  padding: var(--spacing-sm);
  display: flex;
  align-items: center;
}
.waveform {
  width: 100%;
}