.waveform-navigator-container {
    width: 100%;
    height: 90px;
    background-color: var(--color-dark-surface-1);
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius-md);
    padding: var(--spacing-xs);
    margin-bottom: var(--spacing-md);
    display: flex; /* Added for centering placeholder */
    justify-content: center;
    align-items: center;
}

.waveform-element {
    width: 100%;
    height: 100%;
    cursor: text;
}

.waveform-placeholder {
    color: var(--color-text-secondary);
    font-weight: bold;
    font-size: 1.2rem;
    letter-spacing: 2px;
    opacity: 0.5;
}