.waveform-container {
    padding: 1rem 1rem 0.5rem 1rem;
    background-color: var(--panel-color);
    border-bottom: 1px solid var(--border-color);
}

.waveform-element {
    width: 100%;
    height: 80px; /* As defined in our PlaybackContext */
}

.waveform-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem;
    color: #8a9bad;
}