/* src/components/ui/ChevronIcon.css */
.chevron-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chevron-svg {
    width: 80%; /* Control the size of the chevron within its container */
    height: 80%;
    overflow: visible;
}

.chevron-stroke {
    stroke: var(--color-accent-green);
    stroke-width: 8;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
}