.pitch-slider-container {
    width: 30px; /* Same width */
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-dark-surface-2);
    border-radius: var(--border-radius-md);
    border: 1px solid var(--color-border);
    padding: 0; /* Remove padding on the container to center it */
    margin: auto 0; /* Vertical centering within the container */
    height: 150px; /* Reduced height of the entire slider */
}

.pitch-slider-track {
    position: relative;
    width: 6px;
    height: 100%; /* Occupy full container height */
    background-color: #1a1f25;
    border-radius: 3px;
}

.pitch-slider-handle {
    position: absolute;
    top: 50%; /*  Centered vertically */
    left: 50%;
    transform: translate(-50%, -50%); /* Centering the handle */
    width: 20px;
    height: 30px; /* Reduced handle size */
    background-color: #d0d8e0;
    border: 1px solid #1a1f25;
    border-radius: 4px;
    cursor: ns-resize;
}